* {
    margin: 0px;
    padding:  0px;
    box-sizing: border-box;
}

.desktop-3 {
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-height: 1024px;
	min-width: 100hv;
	overflow: hidden;
	width: 100%;
	/*align-items: center;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 1253px;
    overflow: hidden;
    min-width: 1440px;*/
}
.desktop-3 .group-106 {
	align-items: flex-end;
	display: flex;
	height: 213px;
	min-width: 1442px;
}

.desktop-3 .overlap-group7 {
    align-self: flex-start;
    height: 133px;
    margin-left: 1px;
    position: relative;
    width: 1460px;
}

.desktop-3 .group-9 {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    min-width: 262px;
}

.desktop-3 .overlap-group-1 {
    align-items: flex-start;
    /*background-image: rectangle-6@2x.png;*/
    background-size: 100% 100%;
    display: flex;
    /*justify-content: flex-end;*/
    height: 80px;
    min-width: 258px;
    padding: 17px 26px;
}


.desktop-3 .rectangle-36-0 {
    border-radius: 0px 20px 20px 0px;
    background-color: #F7F4EF;
    height: 80px;
    left: 0;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 260px;
}


.desktop-3 .overlap-group5 {
    /*height: 1024px;*/
    left: -4px;
    position: absolute;
    top: 0;
    width: 1468px;
}

.desktop-3 .group-17 {
    display: flex;
    height: 80px;
    left: 4px;
    position: absolute;
    top: 42px;
    width: 260px;
}

.desktop-3 .rectangle-1 {
    height: 213px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1510px;
}


.desktop-3 .overlap-group1 {
	align-items: flex-start;
	background-image: url(rectangle-37-3@1x.png);
	background-size: 100% 100%;
	display: flex;
	height: 221px;
	margin-bottom: -70px;
	margin-left: -4px;
	min-width: 1448px;
	padding: 42px 4px;
}

.desktop-3 .group-9 {
	align-items: flex-start;
	cursor: pointer;
	display: flex;
	min-width: 262px;
}

.desktop-3 .overlap-group {
	
	align-items: flex-start;
	background-image: url(rectangle-6@2x.png);
	background-size: 100% 100%;
	display: flex;
	height: 80px;
	justify-content: flex-end;
	min-width: 260px;
	padding: 17px 26px;
}

.desktop-3 .aditi {
    color: #000000;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    left: 63px;
    letter-spacing: 1.28px;
    position: absolute;
    top: 21px;
}

.desktop-2 .group-8 {
    align-items: flex-start;
    display: flex;
    min-width: 262px;
}

.desktop-3 .title {
 position: absolute;
 width: 254px;
 height: 113px;
 left: 593px;
 top: 50px;
 font-family: Roboto;
 font-style: normal;
 font-weight: 500;
 font-size: 96px;
 line-height: 112px;
 letter-spacing: 0.04em;
 margin-top: -10px;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

.container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
}


.desktop-3 .cart-summary {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;

	color: #000000;
	height: 56px;
	letter-spacing: 0;
	margin-left: 110px;
	margin-top: 120px;
	width: 310px;
}

.desktop-3 .rectangle-44 {
	background-color: #F7F4EF;
	border-radius: 20px;
	height: 342px;
	margin-left: 110px;
	margin-top: 23px;
	width: 1218px;
}

.desktop-3 .rectangle_sum{
	margin-left: 50px;
	margin-top: 50px;
}

.desktop-3 .group-118 {
	align-items: flex-start;
	cursor: pointer;
	display: flex;
	margin-left: 597px;
	margin-top: 43px;
	min-width: 247.26666259765625px;
}

.desktop-3 .overlap-group2 {
	align-items: center;
	background-color: #342628;
	border-radius: 15px;
	display: flex;
	height: 65px;
	justify-content: flex-end;
	min-width: 245px;
	padding: 0 14.3px;
}

.desktop-3 .confirm-order {
	color: #FFFFFF;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0;
	min-height: 33px;
	width: 230px;
	margin-left: -3px;
}


.screen a {
	display: contents;
	text-decoration: none;
}

.hidden,
.hidden * {
	pointer-events: none;
	visibility: hidden;
}
