* {
    margin: 0px;
    padding:  0px;
    box-sizing: border-box;
}

.desktop-1 {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 4096px;
    overflow: hidden;
    width: 1440px;

}

.desktop-1 .overlap-group7 {
    align-self: flex-start;
    height: 1024px;
    margin-left: 1px;
    position: relative;
    width: 1440px;
}

.desktop-1 .overlap-group5 {
    height: 1024px;
    left: -4px;
    position: absolute;
    top: 0;
    width: 1440px;
}

.desktop-1 .group-78 {
    align-items: flex-start;
    display: flex;
    min-width: 260px;
}

.desktop-1 .group-81 {
    align-items: flex-start;
    display: flex;
    min-width: 260px;
}

.desktop-1 .group-80 {
    align-items: flex-start;
    display: flex;
    min-width: 556px;
}

.desktop-1 .rectangle-1 {
    height: 934px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1468px;
}

.desktop-1 .rectangle-3 {
    height: 1024px;
    left: 817px;
    position: absolute;
    top: 0;
    width: 626px;
}

.desktop-1 .group-17 {
    display: flex;
    height: 80px;
    left: 4px;
    position: absolute;
    top: 42px;
    width: 260px;
}

.desktop-1 .group-8 {
    align-items: flex-start;
    display: flex;
    min-width: 262px;
}

.desktop-1 .overlap-group-2 {
    align-items: center;
    background-color: #FEAA00;
    border-radius: 20px;
    display: flex;
    height: 88px;
    min-width: 235px;
    padding: 0 47px;
}



.desktop-1 .overlap-group3 {
    height: 80px;
    left: 417px;
    position: absolute;
    top: 42px;
    width: 802px;
}

.desktop-1 .group-92 {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    height: 80px;
    left: 0;
    min-width: 269px;
    position: absolute;
    top: 0;
}

.desktop-1 .group-122{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 428px;
    top: 269px;
    left: 241px;

    width: 342px;
}

.desktop-1 .overlap-group {
    align-items: flex-start;
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-end;
    min-width: 260px;
    padding: 17px 26px;
    height: 80px;
    width: 267px;
}

.desktop-1 .rectangle-36 {
    cursor: pointer;
    height: 80px;
    left: 0;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 267px;
}

.desktop-1 .rectangle-36:hover {
    background-color: #fff
}

.desktop-1 .about-us {
    color: #000000;
    font-family: roboto;
    font-size: 32px;
    left: 63px;
    letter-spacing: 1.28px;
    position: absolute;
    top: 21px;
}

.desktop-1 .about-us-1 {
    /*position: absolute;*/
    width: 353px;
    height: 94px;
    left: 70px;
    top: 1144px;
    margin-left: ;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;

}

.desktop-1 .group-93 {
    cursor: pointer;
    height: 80px;
    left: 267px;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 269px;
}

.desktop-1 .rectangle-36-1 {
    background-color: #F7F4EF;
    cursor: pointer;
    height: 80px;
    left: 0;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 267px;
}

.desktop-1 .rectangle-36-1:hover {
    background-color: #FEAA00
}

.desktop-1 .rectangle-36 {
    border-radius: 20px 0px 0px 20px;
    background-color: #F7F4EF;
    cursor: pointer;
    height: 80px;
    left: 0;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 267px;
}

.desktop-1 .rectangle-36:hover {
    border-radius: 20px 0px 0px 20px;
    background-color: #FEAA00
}

.desktop-1 .rectangle-36-1:hover {
    background-color: #FEAA00
}

.desktop-1 .rectangle-36-2 {
    border-radius: 0px 20px 20px 0px;
    background-color: #F7F4EF;
    cursor: pointer;
    height: 80px;
    left: 0;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 267px;
}

.desktop-1 .rectangle-36-2:hover {
    border-radius: 0px 20px 20px 0px;
    background-color: #FEAA00
}

.desktop-1 .rectangle-36-0 {
    border-radius: 0px 20px 20px 0px;
    background-color: #F7F4EF;
    height: 80px;
    left: 0;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 260px;
}


.desktop-1 .rectangle-36-3 {
    border-radius: 20px 0px 0px 20px;
    background-color: #F7F4EF;
    cursor: pointer;
    height: 80px;
    left: 0;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 267px;
}

.desktop-1 .rectangle-36-3:hover {
    border-radius: 20px 0px 0px 20px;
    background-color: #FEAA00
}

.desktop-1 .popular {
    color: #000000;
    font-family: roboto;
    font-size: 32px;
    left: 63px;
    letter-spacing: 1.28px;
    position: absolute;
    top: 21px;
}

.desktop-1 .group-94 {
    cursor: pointer;
    height: 80px;
    left: 533px;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 269px;
}

.desktop-1 .rectangle-36-2 {
    cursor: pointer;
    height: 80px;
    left: 0;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 267px;
}

.desktop-1 .rectangle-36-2:hover {
    background-color: #FEAA00
}

.desktop-1 .contact-us {
    color: #000000;
    font-family: roboto;
    font-size: 32px;
    left: 63px;
    letter-spacing: 1.28px;
    position: absolute;
    top: 21px;
}

.desktop-1 .aditi {
    color: #000000;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    left: 63px;
    letter-spacing: 1.28px;
    position: absolute;
    top: 21px;
}

.desktop-1 .line-6 {
    height: 70px;
    left: 266px;
    position: absolute;
    top: 5px;
    width: 1px;
}

.desktop-1 .group-66{
    background-color: #F7F4EF;
    border-radius: 20px;
    box-shadow:  0px 4px 4px #00000040;
    display: flex;
    flex-direction: column;
    height: 463px;
    width: 347px;
    margin-left: 80px;
}

.desktop-1 .line-7 {
    height: 70px;
    left: 532px;
    position: absolute;
    top: 5px;
    width: 1px;
}
.desktop-1 .group-95 {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    height: 80px;
    left: 1273px;
    min-width: 170px;
    position: absolute;
    top: 42px;
}

.desktop-1 .overlap-group4 {
    height: 80px;
    position: relative;
    width: 170px;
}

.desktop-1 .rectangle-36-3 {
    cursor: pointer;
    height: 80px;
    left: 0;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 170px;
}



.desktop-1 .feathershopping-cart {
    height: 60px;
    left: 55px;
    position: absolute;
    top: 10px;
    width: 60px;
}

.desktop-1 .line-1 {
    height: 1px;
    left: 718px;
    position: absolute;
    top: 1024px;
    width: 1px;
}

.desktop-1 .group-58 {
    align-self: flex-end;
    display: flex;
    margin-right: -514px;
    margin-top: 50px;
    width: 1884px;
}

.desktop-1 .group-75 {
    display: flex;
    flex-direction: column;
    height: 783px;
    margin-top: 70px;
    width: 784px;
}

.desktop-1 .title {
    height: 94px;
    letter-spacing: 3.20px;
    width: 353px;
}

.desktop-1 .group-76 {
    align-items: flex-start;
    display: flex;
    min-width:  260px;
}

.desktop-1 .group-77 {
    align-items: flex-start;
    display: flex;
    min-width:  260px;
}

.desktop-1 .text-1 {
    color: #000000;
    font-family: roboto;
    font-size: 38px;
    height: 649px;
    letter-spacing: 1.52px;
    margin-top: 40px;
    width: 730px;
}

.desktop-1 .group-74 {
    align-items: flex-start;
    display: flex;
    margin-left: 5px;
    min-width: 1095px;
    transform: rotate(-180deg);
}

.desktop-1 .overlap-group-3 {
    height: 924px;
    position: relative;
    width: 1099px;
}

.desktop-1 .overlap-group1{
    align-items: flex-end;
    background-color: #F7F4EF;
    border-radius: 10px;
    display: flex;
    height: 58px;
    min-width: 258px;
    padding:  18px 10px;
}

.desktop-1 .overlap-group-5 {
    align-items:  flex-end;
    background-color: #F7F4EF;
    border-radius:  10px;
    /*display: flex;*/
    height: 58px;
    position: relative;
    margin-top: 30px;
    min-width:  258px;
    /*padding: 18px 10px;    */
}

.desktop-1 .group-121{
    align-items: center;
    /*align-items: flex-start;*/
    cursor: pointer;
    display: flex;
    min-width: 237px;
    color: black ;
    margin-left: 7px;
    margin-top: 450px;
}



.desktop-1 .ellipse-1 {
    background-color: #000000;
    border-radius: 462px;
    height: 924px;
    left: 0;
    position: absolute;
    top: 0;
    width: 924px;
}

.desktop-1 .ellipse-2 {
    height: 408px;
    left: 707px;
    position: absolute;
    top: 256px;
    transform: rotate(180deg);
    width: 392px;
}

.desktop-1 .line-3 {
    height: 1px;
    margin-top: 50px;
    width: 1px;
}

.desktop-1 .group-57 {
    align-items: flex-end;
    align-self: flex-start;
    display: flex;
    height: 719px;
    margin-top: 152px;
    min-width: 1273px;
}

.desktop-1 .overlap-group6 {
    height: 727px;
    margin-bottom: -8px;
    margin-left: -4px;
    position: relative;
    width: 1275px;
}

.desktop-1 .rectangle-23 {
    height: 727px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1009px;
}

.desktop-1 .popular-orders {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    left: 74px;
    letter-spacing: 0;
    position: absolute;
    top: 41px;
}

.desktop-1 .group-55 {
    align-items: flex-end;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    left: 894px;
    min-height: 58px;
    position: absolute;
    top: 57px;
    width: 154px;
}

.desktop-1 .vector-1 {
    height: 16px;
    margin-right: 2px;
    width: 41px;
}

.desktop-1 .overlap-group-4 {
    height: 42px;
    margin-right: 2px;
    position: relative;
    width: 152px;
    color: black;
}

.desktop-1 .rectangle-26 {
    cursor: pointer;
    height: 42px;
    left: 0;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.2s ease;
    width: 152px
}



.desktop-1 .view-all {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    left: 25px;
    letter-spacing: 0;
    position: absolute;
    top: 5px;
}

.desktop-1 .group-73 {
    display: flex;
    height: 463px;
    left: 74px;
    position: absolute;
    top: 204px;
    width: 1201px;
}

.desktop-1 .group-105 {

    background-color: #F7F4EF;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    flex-direction: column;
    height: 463px;
    margin-left: 80px;
    width: 347px;
}

.desktop-1 .group-106 {
    background-color: #F7F4EF;
    border-radius: 20px;
    box-shadow:  0px 4px 4px #00000040;
    display:  flex;
    flex-direction: column;
    height: 463px;
    width: 347px;

}

.desktop-1 .rectangle-30 {
    height: 280px;
    width: 347px;
}

.desktop-1 .group-67 {
    display: flex;
    flex-direction: column;
    height: 71.73626708984375px;
    margin-left: 23px;
    margin-top: 24px;
    width: 263px;
}

.desktop-1 .special-tea {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    height: 33px;
    letter-spacing: 0;
    width: 259px;
}

.desktop-1 .price {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    height: 23.736263275146484px;
    letter-spacing: 0;
    margin-top: 15px;
    width: 116.78396606445312px;
}

.desktop-1 .fluentadd-circle-28-filled {
    cursor: pointer;
    height: 60px;
    margin-left: 271px;
    margin-top: 16.3px;
    width: 60px;
}

.desktop-1 .group {
    background-color: #F7F4EF;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    flex-direction: column;
    height: 463px;
    margin-left: 80px;
    width: 347px;
}

.desktop-1 .vada-pav {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    height: 33px;
    letter-spacing: 0;
    width: 259px;
}

.desktop-1 .fluentadd-circle-28-filled-1 {
    cursor: pointer;
    height: 60px;
    margin-left: 282px;
    margin-top: 16.3px;
    width: 60px;
}

.desktop-1 .group-67-1 {
    display: flex;
    flex-direction: column;
    height: 71.73626708984375px;
    margin-left: 23px;
    margin-top: 24px;
    width: 278px;
}

.desktop-1 .cheese-pakoda {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    height: 33px;
    letter-spacing: 0;
    width: 274px;
}



.desktop-1 .fluentadd-circle-28-filled-2 {
    cursor: pointer;
    height: 60px;
    margin-left: 277px;
    margin-top: 20.3px;
    width: 60px;
}

.desktop-1 .line-4 {
    height: 1px;
    margin-top: 152px;
    width: 1px;
}

.desktop-1 .group-90 {
    background-color: #000000;
    border-radius: 30px;
    box-shadow: Opx 4px 4px #00000040;
    display: flex;
    height: 774px;
    margin-right: 1.0px;
    margin-top: 150px;
    width: 1139px;
}

.desktop-1 .group-82 {
    align-items: center;
    background-color: #788402;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-top: 34px;
    height: 656px;
    padding: 23px 0;
    width: 660px;
}




.desktop-1 .overlap-group-1 {
    align-items: flex-start;
    /*background-image: rectangle-6@2x.png;*/
    background-size: 100% 100%;
    display: flex;
    /*justify-content: flex-end;*/
    height: 80px;
    min-width: 258px;
    padding: 17px 26px;
}

.desktop-1 .name {
    background-color: transparent;
    border: 0;
    height: 21px;
    letter-spacing: 0;
    padding: 0;
    position: absolute;
    left: 10px;
    top: 19px;
    width: 214px;
}

.desktop-1 .name::placeholder {
    color: #61616199;
}

.desktop-1 .menu {3
    width: 141px;
    height: 56px;
    left: 332px;
    top: 625px;
    margin-left: 50px;
    /*position: absolute;*/
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.04em;
}

.desktop-1 .overlap-group3-1 {
    border-radius: 10px;
    height: 58px;
    margin-top: 30px;
    position: relative;
    width: 258px;
}

.desktop-1 .rectangle-34 {
    background-color: #F7F4EF;
    border: 0;
    border-radius: 10px;
    height: 58px;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 258px;
}

.desktop-1 .phone-number {
    background-color: transparent;
    border: 0;
    height: 21px;
    left: 10px;
    letter-spacing: 0;
    padding: 0;
    position: absolute;
    top: 19px;
    width: 214px;
}

.desktop-1 .phone-number::placeholder {
    color: #61616199;
}



.desktop-1 .email {
    background-color: transparent;
    border: 0;
    height: 21px;
    letter-spacing: 0;
    padding: 0;
    position: absolute;
    left: 10px;
    top: 19px;
    width: 214px;
}

.desktop-1 .email::placeholder {
    color: #61616199;
}

.desktop-1 .overlap-group2 {
    align-items: flex-end;
    background-color: #F7F4EF;
    border-radius: 10px;
    /*display: flex;*/
    position: relative;
    height: 58px;
    margin-top: 30px;
    min-width: 258px;
    /*padding: 18px 10px;*/
}

.desktop-1 .sap-id {
    background-color: transparent;
    border: 0;
    height: 21px;
    letter-spacing: 0;
    padding: 0;
    position: absolute;
    left: 10px;
    top: 19px;
    width: 214px;
}

.desktop-1 .flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 146px;
    /*margin-top:  85px;*/
    min width: 554px;
}

.desktop-1 .flex-col-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 146px;
    margin-left: 38px;
    width: 258px;
}

.desktop-1 .flex-row {
    align-items: flex-start;
    display: flex;
    height: 146;
    margin-left: -5px;
    margin-top: 85px;
    min-width: 554px;
}

.desktop-1 .sap-id::placeholder {
    color: #61616199;
}

.desktop-1 .overlap-group4-1 {
    align-items: flex-start;
    background-color: #F7F4EF;
    border-radius: 10px;
    display: flex;
    height: 264px;
    justify-content: flex-end;
    margin-top: 30px;
    min-width: 554px;
    padding: 10px 9px;
}

.desktop-1 .message {
    background-color: transparent;
    border: 0;
    height: 239px;
    letter-spacing: 0;
    padding: 0;
    width: 535px;
}

.desktop-1 .message::placeholder {
    color: #61616199;
}

.desktop-1 .group-83 {
    background-color: transparent;
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    margin-left: 4.0px;
    margin-top: 15px;
    min-width: 200px;
}

.desktop-1 .overlap-group5-1 {
    align-items: center;
    background-color: #342628;
    border-radius: 10px;
    display: flex;
    height: 56px;
    /*justify-content: flex-end;*/
    min-width: 198px;
    padding: 0 19px;
}

.desktop-1 .send-message {
    color: #F7F4EF;
    font-family: roboto;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    margin-left: 10px;
    min-height: 28px;
    min-width: 130px;
}

.desktop-1 .group-89 {
    display: flex;
    flex-direction: column;
    height: 381px;
    margin-left: 31px;
    margin-top: 172px;
    width: 382px;
}

.desktop-1 .group-88 {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    height: 101px;
    width: 386px;
}

.desktop-1 .contact-information {
    color: #FFFFFF;
    font-family: roboto;
    font-size: 42px;
    font-weight: 900;
    height: 49px;
    letter-spacing: 0;
    width: 382px;
}

.desktop-1 .text-2 {
    color: #F7F4EF;
    font-family: roboto;
    font-size: 12px;
    font-weight: 300;
    height: 42px;
    letter-spacing: 0;
    margin-left: 2px;
    margin-top: 10px;
    width: 380px;
}

.desktop-1 .group-87 {
    display: flex;
    flex-direction: column;
    height: 240px;
    margin-left: 22px;
    margin-top: 40px;
    width: 337px;
}

.desktop-1 .group-84 {
    display: flex;
    width: 268px;
}

.desktop-1 .fluentcall-24-filled {
    height: 60px;
    width: 60px;
}

.desktop-1 .phone {
    color: white;
    height: 28px;
    letter-spacing: 0;
    margin-left: 15px;
    margin-top: 16px;
    width: 191px;
}

.desktop-1 .group-85 {
    display: flex;
    margin-top: 30px;
    width: 339px;
}

.desktop-1 .fluentmail-20-filled {
    height: 60px;
    width: 60px;
}

.desktop-1 .text-3 {
    color: white;
    height: 28px;
    letter-spacing: 0;
    margin-left: 15px;
    margin-top: 16px;
    width: 262px;
}

.desktop-1 .group-86 {
    display: flex;
    margin-top: 30px;
    width: 301px;
}

.desktop-1 .cilocation {
    height: 60px;
    width: 60px;
}

.desktop-1 .text-4 {
    color: white;
    height: 59px;
    letter-spacing: 0;
    margin-left: 15px;
    margin-top: 1px;
    width: 224px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900, 300,500");

.screen a {
    display: contents;
    text-decoration: none;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

.container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
}

input:focus {
    outline: none;
}


.hidden,
.hidden *
{
    pointer-events: none;
    visibility: hidden;
}

.smart-layers-pointers,
.smart-layers-pointers * {
    pointer-events: auto;
    visibility: visible;
}

.desktop-1 .khoj-your-bhoj {
    color: #000000;
    font-family: roboto;
    font-size: 96px;

    letter-spacing: 3.84px;
    position: absolute;
    text-align: center;
    height: 240px;
    width: 340px;
}
.desktop-1 .span0 {
    letter-spacing: 3.69px;
}
.desktop-1 .span1 {
    color: #000000;
    font-size: 72px;
    letter-spacing: 2.07px;
}
.desktop-1 .span2 {
    color: #F7F4EF;
    letter-spacing: 3.69px;
}


